@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0px;
}

p,
label,
input,
button {
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

#root {
  background-image: linear-gradient(#ff1b6b, #45caff);
  height: 100svh;
  width: 100vw;
  overflow-y: scroll;
  position: fixed;

  & h1 {
    text-align: center;
    color: white;
    font-size: 64px;
  }

  & main {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    align-items: center;

    & section {
      padding: 32px;
      border-radius: 16px;
      background-color: white;
      width: min(700px,70%);

      & h2 {
        margin-bottom: 32px;
      }

      & fieldset {
        padding: 0;
        margin: none;
        border: none;
        display: flex;
        flex-direction: column;

        & input:hover {
          cursor: pointer;
        }
      }

      & #prompt-box {
        width: 100%;
        border:0;
      }

      & .button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        & button {
          border:0;
          border-radius:8px;
          padding:8px 16px;
          cursor: pointer;
          background-color: #45caff;
          color: black;
          font-weight:600;
          transition-property: background-color;
          transition: 0.6s;
        }
        & button:enabled:active {
          transform: scale(1.05);
        }
        & button:hover,button:focus {
          background-color:#ff1b6b;
        }
        & button:disabled{
          background-color: lightgray;
        }
      }
    }
  }
}